body {
  margin: 0;
  padding : 20px 10px;
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #6571b3;
  border-bottom : 1px solid #6571b3;
  padding-bottom : 10px;
}
